/* Cleanizr v.1.2.2 - custom.css
 *
 * @note : Any enhancement should be done in this file
 * @author : hina imran
 * @author URL : your url
 *
 */
 @import url('icons/fontawesome/font-awesome.min.css');
 
 
 html body{
 font-family: Ubuntu, Verdana, Arial;
 }
 
 #jPanelMenu-menu{
 font-size: 185%;
 padding-top: 2%;
 font-weight: bold;
 font-family: Ubuntu, Verdana, Arial;
 }
  

#jPanelMenu-menu > li {
 padding-top: 10%;
}

#jPanelMenu-menu > li> a{
color: #fff;
text-decoration: none;
}

#footer{
padding-bottom: 2%;
}
#canvas > a {
text-decoration: none;
}

.jPanelMenu-panel{
background-color: #555;
}
